.panel {
  min-width: 320px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em !important;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 0.6em 1em;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
}

.statValue {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.statItem p {
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 640px) {
  .statValue {
    font-size: 1em;
  }

  .statItem p {
    font-size: 0.6em;
  }
}
