.stageList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 32px;
}

.stageItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20;
}

.stageData {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.stageDataItem {
  display: flex;
  flex-direction: row;
  gap: 4px;

  font-size: 14px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
