.stageList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5em;
  padding: 0;
  margin: 0;
}

.stageItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;

  padding: 0.6em;
  border-radius: 10px;
  border: 1px solid transparent;

  transition: 0.1s ease-in-out;
}
.stageItem:hover {
  background: var(--bg-light);
  border: 1px solid var(--bg-dark);
}

.stageTitle {
  padding: 0;
  margin: 0;
  transition: 0.1s ease-in-out;
  padding-bottom: 0em;
}
.stageItem:hover .stageTitle {
  color: var(--p);
}

.clickedStage {
  background: var(--bg-light);
  border: 1px solid var(--p);
}

.stageItem,
.stageItem * {
  cursor: pointer !important;
}

.stageData {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;

  margin-top: 0.3em;
  align-items: center;
}

.stageDataItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-weight: 600;
  font-size: 0.8em;
  opacity: 0.6;
}

.stageDataType {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.activityCount {
  display: flex;
  font-size: 12px;
  align-items: flex-start;
  font-weight: 600;
  opacity: 0.6;
  line-height: 1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

.selectedStageId {
  border: 1px solid var(--p);
}
