#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-10 {
  gap: 10px;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* TABLE */

table {
  width: 100%;
  border-collapse: collapse;
}

.table-title {
  color: var(--text);
  font-weight: 800;
  padding: 0 10px;
}

tr {
  width: 100%;
}

th {
  color: var(--text-muted);
  text-align: start;
  font-size: 1em;
  font-weight: 400;

  border-bottom: 1px solid var(--highlight);
  padding: 10px;
}

td {
  font-weight: 500;
  color: var(--text);

  border-bottom: 1px solid var(--border-muted);
  padding: 10px;
}

tr:last-child td {
  border-bottom: none;
}
