#root {
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

label {
  font-size: 0.8em;
  font-weight: 400;
  opacity: 0.6;
}

a {
  color: var(--text);
  text-decoration: underline;
}

main {
  max-width: 2000px;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 0.5em;
}

sub {
  font-size: 0.8em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

input {
  padding: 1em;
  border: 1px solid var(--b);
  border-radius: 6px;
  background: transparent;
  color: black !important;
}
input:focus {
  outline: 2px solid var(--p);
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  width: fit-content;

  padding: 0.5em;
  background-color: var(--bg);
  border: 1px solid var(--b);
  border-radius: 6px;
  color: var(--text);

  cursor: pointer;
}
button:hover {
  color: var(--p);
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--text);
}
