:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(330 0% 10%);
  --bg-light: hsl(0 0% 12%);

  --text: hsl(0 0% 80%);
  --text-muted: hsl(0, 0%, 45%);
  --text-light: hsl(0 0% 95%);

  --highlight: hsl(0 0% 39%);
  --border: hsl(0 0% 18%);
  --border-light: hsl(0 0% 24%);

  --primary: hsl(31 62% 64%);
  --secondary: hsl(209 77% 71%);

  --danger: hsl(9 60% 64%);
  --warning: hsl(52 60% 57%);
  --success: hsl(146 60% 59%);
  --info: hsl(217 40% 65%);
}

h3 {
  font-size: 1em;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
