.activityList {
  display: flex;
  flex-direction: row;

  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.activityList::-webkit-scrollbar {
  display: none;
}

.activity {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;

  background-color: transparent;

  border: 1px solid transparent;

  cursor: pointer;
  transition: 0.2s ease;

  font-size: 0.8em;
}
.activity:hover {
  background-color: color-mix(in srgb, var(--bg-light) 50%, transparent);
}
.selected {
  background-color: color-mix(in srgb, var(--bg-light) 50%, transparent);
  border-bottom: 1px solid var(--p);
}

.activityHeader {
  display: flex;
  align-items: center;

  gap: 8px;
  font-weight: 500;
}

.activityData {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-left: 26px;
  align-items: center;
}

.activityDataItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-weight: 600;
  font-size: 0.8em;
  opacity: 0.6;
}
